<%= error_messages_for 'periodic_job' %>

<!--[form:periodic_job]-->
<div class="box tabular">
  <p><%= f.text_field :title, size: 90 %></p>
  <p><%= f.text_field :path, size: 90 %></p>
  <p><%= f.text_field :periodicity, size: 30 %></p>
</div>
<!--[eoform:periodic_job]-->
